@import "reset";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

header {
	width: 100%;
	height: 45vh;
	background: #333;
	position: relative;
	padding: 5vh 10vw;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	h1 {
		font: bold 24px/1 "orbitron";
		color: #fff;
	}
	#gnb {
		display: flex;
		gap: 60px;
		font: 14px/1 "arial";
		color: #ddd;
		padding-top: 10px;

		li {
			cursor: pointer;
		}
	}
}
figure {
	width: 100%;
	height: 55vh;
	background: #111;
	position: relative;
	overflow: hidden;

	.bg {
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0.5;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			z-index: 1;
			transition: opacity 2s;

			&.on {
				opacity: 1;
			}
		}
	}

	.banner {
		width: 70%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;

		ul {
			//전체 폭 기준으로 3등분한 패널이 5개 좌우로 묶여야 되므로
			// 100% / 3 한 값에서 다시 곱하기 5개
			width: calc(100% / 3 * 5);
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			li {
				float: left;
				//화면엔 3개가 보여야 되지만 전체 패널의 갯수는 5개이므로
				//100% / 5
				width: calc(100% / 5);
				height: 100%;
				border-left: 1px solid rgba(255, 255, 255, 0.4);
				color: #fff;
				padding: 5vh 3vw 10vh;
				display: flex;
				flex-wrap: wrap;
				align-content: flex-end;

				p {
					width: 100%;
					font: 20px/1 "orbitron";
					margin-bottom: 20px;
					opacity: 0.3;
					transition: 0.5s;
				}
				h2 {
					width: 100%;
					font: 24px/1 "orbitron";
					color: #fff;
					letter-spacing: 1px;
					opacity: 0.5;
					padding-top: 20px;
					position: relative;
					transition: 0.5s;

					&::before {
						content: "";
						display: block;
						width: 100%;
						height: 2px;
						background: rgba(255, 255, 255, 0.5);
						position: absolute;
						top: 0;
						left: 0;
					}
					span {
						display: block;
						width: 0%;
						height: 2px;
						background: #fff;
						position: absolute;
						top: 0;
						left: 0;
					}
				}

				&:nth-of-type(2) {
					p {
						opacity: 0.5;
					}
					h2 {
						opacity: 1;

						span {
							animation: ani 3s linear 1;
						}
					}
				}
			}
		}
	}

	.btns {
		position: absolute;
		left: 100px;
		bottom: 50px;
		display: flex;
		gap: 60px;
		color: #fff;

		> * {
			cursor: pointer;
		}
	}
}
.mask {
	width: 100%;
	height: 100vh;
	background: #111;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 10vw;
	color: #fff;
}

@keyframes ani {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
