@import "reset";

header {
	width: 100%;
	height: 45vh;
	background: #333;
	position: relative;
}
figure {
	width: 100%;
	height: 55vh;
	background: #111;
	position: relative;
	overflow: hidden;

	.bg {
		width: 100%;
		height: 100%;
		overflow: hidden;
		opacity: 0.5;

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			z-index: 1;
			transition: opacity 1s;

			&.on {
				opacity: 1;
			}
		}
	}

	.banner {
		width: 70%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;

		ul {
			//전체 폭 기준으로 3등분한 패널이 5개 좌우로 묶여야 되므로
			// 100% / 3 한 값에서 다시 곱하기 5개
			width: calc(100% / 3 * 5);
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			li {
				float: left;
				//화면엔 3개가 보여야 되지만 전체 패널의 갯수는 5개이므로
				//100% / 5
				width: calc(100% / 5);
				height: 100%;
				border-left: 1px solid rgba(255, 255, 255, 0.5);
				color: #fff;
				padding: 3vw;
			}
		}
	}

	.btns {
		position: absolute;
		left: 100px;
		bottom: 50px;
		display: flex;
		gap: 60px;
		color: #fff;

		> * {
			cursor: pointer;
		}
	}
}
